body {
	padding: 0;
	margin: 0;
	background: url(https://drive.google.com/file/d/1mFOjmjAoA6dHSz6Tx6C3XeJH1XZOrOBH/view?usp=sharing);
}
* {
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.graph {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
.input {
	padding: 0 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
}
